:root {
    --primary-color: #9b0505;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #000000;

}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Kanit", sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.gid_row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.grid__column-2 {
    padding-left: 30px;
    padding-right: 30px;
    width: 16.66667%;
    flex-wrap: wrap;
}

.grid__column-2-4 {
    padding-left: 12px;
    padding-right: 12px;
    width: 20%;
    flex-wrap: wrap;
}

.grid__column-3 {
    padding-left: 12px;
    padding-right: 12px;
    width: 25%;
    flex-wrap: wrap;
}

.grid__column-4 {
    padding-left: 12px;
    padding-right: 12px;
    width: 33.3333%;
    flex-wrap: wrap;
}

.grid__column-8 {
    padding-left: 12px;
    padding-right: 12px;
    width: 66.6667%;
    flex-wrap: wrap;
}

.grid__column-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}




/* animation */
@keyframes FadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}